html {
  background: url("book.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  height: 90px;
  text-align: center;
  color: white;
}

.head {
  font-size: 50px;
  font-family: cursive;
}

input {
  width: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexyboi {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 85vh;
}

.inv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  font-family: fantasy;
  font-size: 25px;
  overflow: scroll;
  height: 100%;
}

.mine {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: center;
  font-size: 25px;
  overflow: scroll;
  /* height: 800px; */
  font-family: fantasy;
  flex-wrap: wrap;
}

.shutupdestiny {
  width: 180px;
  margin-bottom: 15px;
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-family: fantasy;
}

.item-container {
  height: 90%;
  margin: 25px auto;
}
