html {
  background: url("book.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  height: 90px;
  text-align: center;
  color: white;
}

.head {
  font-size: 50px;
  font-family: cursive;
}

input {
  border: black;
  width: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
  font-family: fantasy;
}

.mine {
  display: flex;
  flex-direction: row;
  width: 51%;
  justify-content: center;
}
