html {
  background: url("book.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  color: white;
  font-size: 40px;
  font-family: cursive;
}
